obj/wanshitong.csproj.nuget.cache
obj/wanshitong.csproj.nuget.g.props
obj/wanshitong.csproj.nuget.g.targets
obj/Debug/netcoreapp2.2/wanshitong.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/wanshitong.assets.cache
obj/Debug/netcoreapp2.2/wanshitong.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/wanshitong.csprojAssemblyReference.cache
keylogger
obj
bin
Index
Electron/librarian UI-darwin-x64
out
librarian-win32-x64.zip
Indexer/Screenshots
Electron/server/
.vs/ProjectEvaluation/wanshitong.metadata.v5.2
.vs/ProjectEvaluation/wanshitong.projects.v5.2
.vs/wanshitong/FileContentIndex/2e595d65-8492-4d72-bbf4-71d4b5cd6808.vsidx
.vs/wanshitong/FileContentIndex/a24bf4e8-efd3-458d-b9cc-787d431f756f.vsidx
.vs/wanshitong/FileContentIndex/read.lock
.vs/wanshitong/v17/.futdcache.v2
.vs/wanshitong/v17/.suo
