<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="openAI_key" value=""/>
    <add key="openAI_org" value=""/>
    <add key="ocrKey" value=""/>
    <add key="documentCategories" value="Task, Document"/>
    <add key="version" value=""/>
  </appSettings>
</configuration>