body{
    min-width:1000px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1000px; 
    padding: 0px;
    background-color: #313333;
    color: aliceblue;
    font: menu;
    font-size: normal;
    margin-left: 0px !important;
}

button{
    text-align: center;
    border: none;
    background: none;
    background-color: rgb(7, 148, 14);
    /* width: 100%; */
    cursor: pointer;
    color: aliceblue;
    border-radius: 15px;
    margin: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

button:hover{
    /* box-shadow: 3px 2px 10px 3px rgba(0, 0, 0, 0.1); */
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.3);
}

button[disabled=disabled], .row_button:disabled {
   box-shadow: none;
   cursor: default;
}

#titlebar{
    width: 100%;
}

.white-box-shadow:hover
{
    box-shadow: 0px 7px 5px -4px rgba(255, 255, 255, 0.6)
}

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color:#3e4348;
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hidden {
    display: none !important;
}

.button_row{
    padding: 10px;
}

.right{
    float: right;
}

.search_label{
    padding: 4px;
}

.main_query{
    height: 17px;
    margin-top: 4px;
    width: 82%;
    font-size: x-large;
    font: message-box;
    background-color: #474a4d;
    padding: 8px;
    margin-left: 4px;
    color: aliceblue;
    border: none;
}

.main_results{
    margin-top: 4px;
    margin-left: 5px;
    width: 310px;
    height: 85vh;
    font-size: normal;
    margin-top: 10px;
    font: menu;
    overflow-y: hidden;
    overflow-x: hidden;
}
.main_results:hover {
    overflow-y: scroll;
}

.result_row_group{
    margin-bottom: 2px;
    width: 98%;
    font-size: x-small;
    font: menu;
    text-align: right;
    padding-bottom: 2px;
}

.result_row{
    cursor: pointer;
    border-radius: 2px;
    padding-top: 2px;
    margin-right: calc(-1 * (310px - 100%));
    width: 298px;
    box-shadow: 6px 4px 5px 0px rgba(0, 0, 0, 0.2), 0px 5px 3px 0px rgba(0, 0, 0, 0.2); 
    background-color: #3e4348;
    overflow: hidden;
    margin-bottom: 10px
}

.result_row_id{
    display: none;
}

.result_row_text{
    margin-top: 10px;
    margin-left: 5px;
    width: 90%;
    font: menu;
    white-space: pre-wrap;
    max-height: 200px;
    word-wrap: break-word;
    overflow:hidden;
}

.result_row_short_text{
    margin-top: 3px;
    margin-left: 5px;
    width: 90%;
    font: menu;
    white-space: pre-wrap;
    max-height: 100px;
    word-wrap: break-word;
    overflow:hidden;
}

.result_row_img{
    margin-top: 4px;
    margin-bottom: 2px;
    width: 100%;
    font-size: x-small;
    font: menu;
    border-bottom: inset;
    text-align: right;
    display: block;
}

.right_panel{
    /* border: solid; */
    height: 94vh;
    flex-grow: 1;
    overflow: hidden;
    background-color: #3e4348
}

.right_panel_text{
    color: whitesmoke;
    width: 97%;
    height: calc(100% - 270px);
    overflow-y: scroll;
    white-space: pre-wrap;
    font: message-box;
    margin-left: 30px;
    margin-top: 30px;
}
.right_panel_text:hover{
    overflow-y: scroll;
}

.max_width{
    width: 100%;
}

.right_panel_image_container{
    /* width: 50%;
    height: 50%; */
}

.right_panel_image{
    max-width: 100%;
    /* max-height: 70vh;
    overflow: hidden;
    float: left; */
    display: block;
}

#right_panel_text{
    /* height: 400px;
    background-color: #3e4348;
    color: aliceblue; */
}

#right_panel_text:read-write:focus {
    outline: none;
}

.sidebar{
    width: 35px;
    float: left;
    background-color: #282b2b;
    height: 94vh;
    position: relative;
    margin-right: 4px;
    padding: 4px;
}

.bottombar{
    width: 100%;
    background-color: #5a5a5a;
    height: 1vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.left_panel{
    width: 35%;
    max-width: 320px;
    float: left;
}

.icon{
    padding: 5px;
    padding-top: 10px;
    cursor: pointer;
    color: aliceblue;
}

.delete{
    color: red;
}

.save{
    padding: 0px;
    top: 5px;
    position: relative;
    left: 4px;
}

.saving{
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }

#version{
    position: absolute;
    bottom: 2px;
    right: 3px;
    z-index: 1000;
}

.icon-white {
    webkit-filter: contrast(4) invert(1);
    -moz-filter: contrast(4) invert(1);
    -o-filter: contrast(4) invert(1);
    -ms-filter: contrast(4) invert(1);
    filter: contrast(4) invert(1);
}

.container{
    padding: 10px;
}

.documentation{
    font-size: medium;
}

.crop {
    width: calc(100% + 30px);
    height: 130px;
    overflow: hidden;
    margin-top: 4px;
}

.crop.enlarged {
    width: calc(100% + 10px);
    height: 100%;
    overflow: hidden;
    margin-top: 4px;
}

.crop img {
    /* width: 400px; */
    /* height: 300px; */
    margin: -35px 0 0px -15px
}

.crop.enlarged img {
    /* width: 400px; */
    /* height: 300px; */
    margin: -5px 0 0px -5px
}